h1 {
    background-color:white;
    color:rgb(62, 106, 172);
  } 
#fifty {
    color:rgb(63, 63, 182);
    font-weight: bolder;
    font-size:35px;
    
    
}
#dell{
    margin-top: 50px;
}
div{
   padding-top:50px;
   padding-right:10px;

}
#recycle{
    float:left;
    position:relative;
    
}
#ethics{
    padding-bottom:10px;
    padding-right:60px;
}
#billion{
   margin-right:15px;
   margin-bottom:10px;
  
    
}
